.grid {
    width:900px;
    height:900px;
    border:solid 1px black;
    display: flex;
    position: flex;
    flex-wrap:wrap;
    float: inline-start;
    background: url('grid.jpeg') no-repeat;
    background-size: 815px;
    border-radius: 20px;
}

.grid div {
    width: 30px;
    height: 30px;
    /* border:solid 1px purple; */
    box-sizing: border-box;
}
div .bread {
    /* border:solid 1px white */
}
div .pacman {
   height:43px;
    width:43px;
    /* border:solid 3px yellowgreen; */
    background-image:url('pac.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 40px;
}
div .left{
    transform: rotate(180deg);
}
div .up{
    transform: rotate(270deg);
}
div .down{
    transform: rotate(90deg);
}