body{
    background-color: rgb(0, 0, 63);
}

.score{
    color:blanchedalmond;
    margin-top:-52rem;
}

.grid {
    float:center;
    width:900px;
    height:900px;
    display: flex;
    position: flex; 
    flex-wrap:wrap;
    background: url('grid.jpeg') no-repeat;
    background-size: 815px;
    border-radius: 20px;
     margin-left:500px
}

.grid div {
    width: 30px;
    height: 30px;
    /* border:solid 1px purple; */
    box-sizing: border-box;
}
div .pellet {
    /* border:solid 1px white */
    background: url('pellet3.jpg') no-repeat;
    background-size: 18px;
}
div .powerpellet {
    background: url('pellet.jpg') no-repeat;
    background-size: 25px;
    filter: brightness(1.75);
}
div .scaredghost {
    background-image: url('scaredghost.jpg');
    background-size: 30px;
}
div .pacman {
   /* height:43px; */
    /* width:43px; */
    /* border:solid 3px yellowgreen; */
    background-image:url('pac.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 30px;
}
div .left{
    transform: rotate(180deg);
}
div .up{
    transform: rotate(270deg);
}
div .down{
    transform: rotate(90deg);
}

div .blinky{
    background-image: url('blinky.jpg');
    background-size: 30px;
}

div .clyde{
    background-image: url('clyde.jpg');
    background-size: 30px;
}

div .inky{
    background-image: url('inky.jpg');
    background-size: 30px;
}


div .pinky{
    background-image: url('pinky.jpg');
    background-size: 30px;
}